.lgyPl_v2{color:#333;margin:10px 0}
.lgyPl_v2 ,.lgyPl_v2{list-style:none;margin:0!important;padding:0!important}
.lgyPl_v2_post{cursor:pointer;width:89%;position:relative;margin-top:10px}
.lgyPl_v2_post a:hover{text-decoration:none}
.lgyPl_v2_post_userinfo{font-size:14px;width:350px;height:40px;text-align:left;line-height:40px;position:relative;z-index:22;margin-bottom:10px}
.lgyPl_v2_post_userinfo span{margin:0 2px}
.lgyPl_v2_post_userinfo a{font-size:14px;float:right;color:#000;position:resolute}
.lgyPl_v2_post_userinfo>img{width:40px;height:40px;border-radius:3px}
.lgyPl_v2_post_userinfo ul li{width:14%;display:inline-block;overflow:visible;background:#fff}
.lgyPl_v2_post_userinfo .set_pic_dropdown{display:none;box-shadow:0 0 5px rgba(0,0,0,0.5);-webkit-border-radius:3px;border-radius:3px;border:solid 1px #aaa;background:url(https://admin.shengshi8800.com/assets/bg.png) 0 -90px repeat-x #fff;position:fixed;top:50%;left:50%;margin-left:-175px;z-index:999;width:350px;height:360px;margin-top:-235px}
.lgyPl_v2_post_userinfo .set_pic_dropdown_title{height:40px;line-height:40px;border-bottom:dotted 1px #ccc}
.lgyPl_v2_post_userinfo .set_pic_dropdown_title .set_pic_dropdown_close{float:right;width:40px;height:40px;display:block;cursor:pointer;background:url(../image/pl-thread-close.gif) center center no-repeat}
.lgyPl_v2_post_userinfo .set_pic_dropdown_title p{display:inline-block;font-size:16px;font-weight:700;text-align:left;padding:0 0 0 10px}
.lgyPl_v2_post_userinfo .set_pic_dropdown_headers{height:200px;overflow:auto}
.lgyPl_v2_post_userinfo .set_pic_dropdown_headers img{width:50px;height:auto;border:0}
.lgyPl_v2_post_userinfo .set_pic_dropdown_preview{text-align:center;padding:10px 0}
.lgyPl_v2_post_userinfo .set_pic_dropdown_preview img{vertical-align:middle;max-width:40px;height:auto;border:0}
.lgyPl_v2_post_userinfo .set_pic_dropdown_foot{padding-top:10px;text-align:center}
.lgyPl_v2_post_userinfo .set_pic_dropdown_foot a{width:80px;height:30px;display:inline-block;margin-right:10px;line-height:30px;font-size:14px;font-weight:700;text-align:center;color:#555;text-decoration:none;text-shadow:0 1px 0 #fff;cursor:pointer;border:1px solid #ccc;border-bottom-color:#aaa;-webkit-border-radius:3px;border-radius:3px;background:url(https://admin.shengshi8800.com/assets/bg.png) 0 -60px repeat-x}
.lgyPl_v2_post_userface{width:50px;height:50px;display:block;box-shadow:0 1px 3px rgba(0,0,0,0.22);-webkit-border-radius:10px;border-radius:10px}
.lgyPl_v2_post_form{width:calc(90% - 20px);height:60px;margin-left:60px;margin-top:-50px;position:relative;border:1px solid #ccc;border-bottom:none;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;border-top-left-radius:3px;border-top-right-radius:3px;background:url(https://admin.shengshi8800.com/assets/bg.png) 0 -90px repeat-x #fff;padding:10px}
@media screen and (max-width:800px){}
.lgyPl_v2_post_form:after{content:'';position:absolute;width:40px;top:-6px;height:5px;background:#fff}
.lgyPl_v2_post_form textarea{width:100%;display:block;border:none;background:0 0;resize:none;outline:0;height:70px;font-size:14px}
.lgyPl_v2_post_tools{width:90%;margin-left:60px;margin-top:0;height:30px;border:1px solid #ccc;border-right:none;border-bottom-color:#aaa;border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;background:url(https://admin.shengshi8800.com/assets/bg.png) 0 -60px repeat-x}
.ecommentinner .lgyPl_v2_post_tools{width:106%!important}
.lgyPl_v2_post_tools a{display:inline-block;cursor:pointer;margin:0 10px}
.lgyPl_v2_post_tools a:hover{color:#fff!important;opacity:.8}
.lgyPl_v2_post_tools_item{display:inline-block;background:#2e6da4;color:#fff;border-radius:50%;width:30px;height:30px;text-align:center}
.lgyPl_v2_post_submit_wrap{float:right;position:relative}
.lgyPl_v2_post_submit_wrap span{transform:translate(-20px,0);position:absolute;width:155px;height:28px;display:block;background:#fff;border:1px solid #ddd;left:-165px;top:0;border-radius:3px;transition:all .25s ease;visibility:hidden;opacity:0}
.lgyPl_v2_post_submit_wrap span.active{visibility:visible;transform:translate(0,0);opacity:1}
.lgyPl_v2_post_submit_wrap span i{position:absolute;right:-5px;top:50%;margin-top:-4px;z-index:0;width:8px;height:8px;border:1px solid #ddd;background:#fff;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);border-width:0 1px 1px 0}
.lgyPl_v2_post_submit_wrap span img{height:24px;width:70px;top:2px;left:2px;float:left;border-radius:0;position:relative;z-index:3}
.lgyPl_v2_post_submit_wrap span input{float:right;outline:0;width:78px;display:block;text-indent:5px;border:0;background:0 0;height:26px;font-size:13px!important;left:0;top:0;border-left:1px solid #ddd}
.lgyPl_v2_post_submit{float:right;color:#000;position:relative;width:100px;height:30px;line-height:30px;font-size:14px;font-weight:700;text-align:center;text-shadow:0 1px 0 #fff;border:1px solid #ccc;border-bottom-color:#aaa;margin-right:0;-webkit-border-bottom-right-radius:3px;cursor:pointer}
.lgyPl_v2_post_submit[disabled]{pointer-events:none;opacity:.6}
.lgyPl_v2_post_dropdown_box{position:absolute;width:200px;background:#fff;border:1px solid #2e6da4;transition:all .25s ease;visibility:hidden;transform:translate(0,20px);opacity:0;border-radius:8px;z-index:99999}
.lgyPl_v2_post_dropdown_box.active{transform:translate(0,0);opacity:1;visibility:visible}
.lgyPl_v2_post_dropdown_box:before{position:absolute;top:-5px;left:20px;content:"";width:8px;height:8px;border:1px solid #2e6da4;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);border-width:1px 0 0 1px}
.lgyPl_v2_post_form_saytext_count{position:absolute;right:5px;bottom:10px;font-size:13px;color:#666;background:rgba(255,255,255,.8);border-radius:10px;line-height:16px;padding:0 5px}
div.lgyPl_v2_record_item>.lgyPl_v2_post_reply{margin-left:60px;margin-top:20px}
div.ecomment>div.ecommentinner>.lgyPl_v2_post_reply{margin-top:30px;margin-bottom:-20px}
.lgyPl_v2_post_reply .lgyPl_v2_post_form:after,.lgyPl_v2_post_reply .lgyPl_v2_post_form:before{content:none}
.lgyPl_v2_post_reply .lgyPl_v2_post_form{padding-top:10px}
.lgyPl_v2_post_reply .lgyPl_v2_post_form textarea{height:50px}
.lgyPl_v2_record_empty{background:#f7f7f7;line-height:30px;color:#999;text-align:center}
.lgyPl_v2_record_item{font-size:14px;border-top:1px solid #dedede;padding:10px 0}
.lgyPl_v2_record_item_userinfo{overflow:hidden;height:50px;line-height:50px}
.lgyPl_v2_record_item_userinfo img{width:50px;height:50px;border-radius:10px;float:left;border:1px solid #f7f7f7;margin-right:10px}
.lgyPl_v2_record_item_userinfo span{float:right}
.lgyPl_v2_record_item_userinfo_link span{float:left;line-height:20px;font-size:14px;color:#d32}
.lgyPl_v2_record_item_userinfo_link span em{display:block;font-style:normal;color:#aaa;font-size:12px}
.lgyPl_v2_record_item_saytext{word-break:break-all;background:#fff;position:relative;margin-left:55px;line-height:1.8em;padding:0 10px 20px;max-height: 125px; height: auto; overflow: hidden;}
.lgyPl_v2_record_item_saytext .lgyPl_v2_record_item_saycontent{word-break:break-all;background:#fff;position:relative;line-height:2.8em;padding:0 10px;max-height: 125px; height: auto; overflow: hidden;}
.lgyPl_v2_record_item_saytext .lgyPl_v2_more{position: absolute; right: 30px; top: 121px;}
.lgyPl_v2_more a {color: blue;}
.lgyPl_v2_show{max-height: initial!important;}
.lgyPl_v2_show .lgyPl_v2_record_item_saycontent{max-height: initial!important;}
.lgyPl_v2_show .lgyPl_v2_more{display: none;}
.lgyPl_v2_record_list_hot .lgyPl_v2_record_item_saytext{max-height: initial;}
.lgyPl_v2_record_list_hot .lgyPl_v2_record_item_saycontent{max-height: initial;}
.lgyPl_v2_record_list_hot .lgyPl_v2_more{display: none;}
.lgyPl_v2_record_item_saytext img{position:relative;top:4px;width:24px;height:24px}
.pl-thread-pl_tit{line-height:32px;font-size:12px;margin-top:12px}
.pl-thread-pl_tit_left{width:50%;float:left;color:#555}
.pinglun-search input{vertical-align:top;width:110px;height:30px;padding:0 10px;font-size:12px;color:#333;border-radius:3px 0 0 3px;border:solid 1px #aaa;box-sizing:border-box;outline:none}
.pinglun-search button{vertical-align:top;width:50px;height:30px;color:#555;border-radius:0 3px 3px 0;border:solid 1px #aaa;box-sizing:border-box;background:linear-gradient(to top,#eee,#fff);cursor:pointer}
.pl-thread-pl_tit_right{width:50%;text-align:right;float:right;color:#999}
.pl-thread-pl_tit_right a{color:#999;text-decoration:none}
.pl-thread-pl_tit_right .hover{color:#d32}
.lgyPl_v2_load_more_record{text-align:center;line-height:30px;cursor:pointer}
.lgyPl_v2_load_more_record[disabled]{color:#999;pointer-events:none}
.lgyPl_v2_record_item_quotes{margin-top:-20px}
em.lgyPl_v2_saytime{margin-left:60px;display:inline;font-style:normal;margin-right:20px;color:#999;font-size:14px}
.lgyPl_v2_digg_icon{margin-right:15px;color:#999}
.lgyPl_v2_digg_icon i{display:inline-block;width:15px;height:16px;background:url(https://admin.shengshi8800.com/assets/like.png) no-repeat left top;background-size:16px;margin-right:3px;position:relative;top:3px}
.lgyPl_v2_post_face{background:url(https://admin.shengshi8800.com/assets/facer.png) no-repeat top;width:17px;height:17px;display:block;position:relative;left:10px;top:7px;cursor:pointer}
.lgyPl_v2_post_face[data-type=img]{background:#2e6da4 url(https://admin.shengshi8800.com/assets/img.png) no-repeat center center;background-size:100%}
.lgyPl_v2_post_face_box{min-width:270px}
.lgyPl_v2_post_face_box ul{padding-left:1px;padding-top:1px;height:150px;overflow-y:auto;border-radius:8px;display:none;position:relative;z-index:88}
.lgyPl_v2_post_face_box ul.active{display:block}
.lgyPl_v2_post_face_box ul li{width:40px;display:inline-block;overflow:visible;background:#fff}
.lgyPl_v2_post_face_box ul li a:hover{background:#f7f7f7;cursor:pointer}
.lgyPl_v2_post_face_box ul li a{display:block;text-align:center;line-height:50px;margin-left:-1px;margin-top:-1px;font-size:12px}
.lgyPl_v2_post_face_type_text li{width:25%!important}
.lgyPl_v2_post_face_type_text li a{line-height:42px!important}
.lgyPl_v2_post_face_tabs{padding-left:10px;line-height:30px;background:#efefef;border-radius:0 0 8px 8px;border-top:1px solid #ddd;position:relative;margin-top:-1px;z-index:111}
.lgyPl_v2_post_face_tabs a{display:inline-block;border:1px solid transparent;color:#999;cursor:pointer;border-width:0 1px;padding:0 10px}
.lgyPl_v2_post_face_tabs a.active{background:#fff;margin-top:-1px;position:relative;color:#666;border-color:#ddd}
.lgyPl_v2_post_face_tabs a.active:before{content:'';position:absolute;width:100%;height:1px;background:#fff;top:-1px;left:0}
.lgyPl_v2_post_face_box ul li a img{height:24px;width:24px;margin:5px 0}
.lgyPl_v2_post_img_box{width:230px;cursor:pointer;padding:10px}
.lgyPl_v2_post_img_box input{border:1px solid #ddd;width:180px;line-height:20px;text-indent:5px}
.lgyPl_v2_post_img_box a{color:#555;border:1px solid #ddd;display:inline-block;line-height:22px;margin-left:10px;font-size:12px;position:relative;top:-1px;cursor:pointer;padding:0 5px}
.lgyPl2_v2_file_btn{display:inline-block;background:url(https://admin.shengshi8800.com/assets/file.png) no-repeat center left;background-size:16px;padding-left:18px;cursor:pointer;margin:0 10px}
.lgyPl_v2_toast{position:fixed;width:100%;left:0;top:50%;margin-top:-30px;text-align:center;line-height:24px;display:none;z-index:9999999;padding:10px 0}
.lgyPl_v2_toast span{display:inline-block;background:rgba(0,0,0,.6);border-radius:5px;color:#fff;line-height:20px;text-align:center;font-size:14px;transition:all .4s ease;transform:scale(0,0);opacity:0;max-width:300px;word-break:break-all;padding:15px 20px}
.lgyPl_v2_toast.active span{transform:scale(1,1);opacity:1}
.lgyPl_v2_indicator-icon{position:fixed;z-index:99999;left:50%;top:50%;margin-left:-25px;margin-top:-25px;border-radius:5px;width:50px;height:50px;display:inline-block;background:rgba(0,0,0,.6) url(https://admin.shengshi8800.com/assets/loading.gif) no-repeat center center;background-size:50%}
.lgyPl_v2_indicator{position:fixed;width:100%;height:100%;top:0;left:0;z-index:999999}
.lgyPl_v2 .ecomment{overflow:visible;width:80%;background:#fafafa;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;border-left:3px solid #e6e6e6;margin:0 0 0 60px;padding:3px 3px 10px}
.lgyPl_v2 .ecommentauthor{float:left;margin-left:10px;color:#d32;font-weight:500;font-size:14px}
.lgyPl_v2 .ecommenttime{margin-left:10px;color:#d32;font-size:14px}
.lgyPl_v2 .ecommentfloor{float:right;color:#999;font-weight:300;font-size:14px}
.lgyPl_v2 .ecommenttext{clear:left;word-wrap:break-word;word-break:normal;line-height:1.8em;font-size:14px;margin:0 0 0 40px;padding:0 0 20px;max-height: 125px; height: auto; overflow: hidden;position:relative;}
.ecommenttext .ecommentcontent{word-break: break-all;position: relative;line-height: 1.8em;padding: 0 10px;max-height: 125px;height: auto;overflow: hidden;}
.ecommenttext .lgyPl_v2_more{position: absolute; right: 30px; top: 121px;}
.lgyPl_v2_record_list_hot .lgyPl_v2_record_item_saycontent{max-height: initial;}
.lgyPl_v2_record_list_hot .ecommentcontent{max-height: initial;}
.lgyPl_v2_show .ecommentcontent{max-height: initial;}
.lgyPl_v2 .ecommenttext img{width:24px;height:24px}
.lgyPl_v2 .ecommentgbr{position:relative;float:right;width:128px;margin:0;padding:0}
.lgyPl_v2 .ecommentgood{float:left;cursor:pointer}
.lgyPl_v2 .ecommentbad{float:middle}
.lgyPl_v2 .ecommentreply{float:right;cursor:pointer}
.lgyPl_v2 .ecommentpic{float:left;height:30px;width:30px;border-radius:3px;box-shadow:0 1px 3px rgba(0,0,0,0.22)}
.lgyPl_v2_record_reply_wrap{border:none;border-top:1px solid #eee;margin-top:10px;padding:0}
.lgyPl_v2_record_reply_wrap legend{text-align:center;font-size:12px;padding:0 20px}
.lgyPl_v2_record_reply_item{border-bottom:1px dashed #eee;min-height:30px;padding:10px 0 10px 40px}
.lgyPl_v2_record_reply_item:last-child{border-bottom:none}
.lgyPl_v2_record_reply_item_userinfo_link img{width:30px;height:30px;float:left;border:1px solid #ddd;position:absolute!important;left:10px;top:auto;border-radius:2px}
.lgyPl_v2_record_reply_saytime{font-size:12px;color:#999;float:right}
.lgyPl_v2_record_reply_pagination{text-align:left;width:80%;margin:0 0 0 60px;border-left: 3px solid #e6e6e6;background:#fafafa;padding-left:15px;border-bottom: 1px solid #e6e6e6;}
.lgyPl_v2_record_reply_pagination a,.lgyPl_v2_record_reply_pagination b{display:inline-block;font-weight:400;background:#fafafa;font-size:12px;line-height:20px;min-width:16px;padding:6px 3px;width:100%;color:#777}
.lgyPl_v2_record_reply_pagination b{opacity:0.7}
.lgyPl_v2_record_reply_pagination_show{display:block;cursor:pointer;padding:10px 0}
.lgyPl_v2_hide,.lgyPl_v2_post_reply .lgyPl_v2_post_userinfo{display:none}
.lgyPl_v2_inner,.lgyPl_v2 .ecommentinner{padding:10px}
.lgyPl_v2_post_dropdow,.lgyPl_v2_record_item_userinfo a,.lgyPl_v2_record_item_zc,.lgyPl_v2_record_item_fd,.lgyPl_v2_record_item_fd_by_quotes,.lgyPl_v2_record_item_zc_by_quotes,.ecomment{cursor:pointer}
.lgyPl_v2_record_item_userinfo_link img,.lgyPl_v2_record_reply_item_userinfo_link{float:left}
.lgyPl_v2_record_item_reply,.lgyPl_v2_record_item_reply_by_quotes{margin-right:10px;color:#999;cursor:pointer}
.lgyPl_v2_record_item_reply i,.lgyPl_v2_record_item_reply_by_quotes i{display:inline-block;width:15px;height:16px;background:url(https://admin.shengshi8800.com/assets/reply.png) no-repeat left top;background-size:16px;margin-right:3px;position:relative;top:3px}
.lgyPl_v2_digg_icon.lgyPl_v2_record_item_fd i,.lgyPl_v2_digg_icon.lgyPl_v2_record_item_fd_by_quotes i{background-position:0 -16px}
#lgyPl_v2_logout{cursor:pointer}
.pl-thread-wrapper{font:14px/1.8 Microsoft YaHei,Helvetica,sans-serif;color:#333}
.pl-thread-clearfix:after{content:".";display:block;height:0;clear:both;overflow:hidden;visibility:hidden}
.pl-thread-clearfix{*zoom:1}
.pl-thread-clear{clear:both;width:0px;height:0px;font-size:0px;overflow:hidden}
.float_l{float:left}
.float_r{float:right}
.pl-thread{max-width:1000px;margin:0 auto}
.pl-thread-ding{border:solid 1px #ccc;-webkit-border-radius:3px;border-radius:3px}
.pl-thread-ding_tit{height:30px;line-height:30px;padding:0 10px;font-size:14px;font-weight:bold;color:#555;background:url(../image/pl-thread-bg.png) 0 -60px repeat-x;border:solid 1px #ccc;border-bottom:none}
.pl-thread-pl{padding:10px 0;border-top:1px solid #dedede}
.pl-thread-pl_left{float:left}
.pl-thread-pl_left img{width:50px;height:50px;display:block;box-shadow:0 1px 3px rgba(0,0,0,0.22);-webkit-border-radius:10px;border-radius:10px}
.pl-thread-pl_right{padding-left:60px}
.pl-thread-pl_right_tit{color:#d32;padding-bottom:10px;font-size:14px}
.pl-thread-pl_right_tit a{color:#d32;text-decoration:none}
.pl-thread-pl_right_tit a:hover{text-decoration:underline}
.pl-thread-pl_right_con{line-height:1.8em;font-size:14px}
.pl-thread-pl_right_menu{padding-top:10px;color:#999;font-size:14px}
.pl-thread-pl_right_menu img{vertical-align:middle;_vertical-align:baseline;border:0}
.pl-thread-pl_right_menu a{color:#999;text-decoration:none}
.pl-thread-pl_right_menu a:hover{text-decoration:underline}
.pl-thread-pl_right .pl-thread-xie{padding-bottom:0;padding-top:10px}
.pl-thread-pl_right .pl-thread-xie_left img{width:30px;height:30px}
.pl-thread-pl_right .pl-thread-xie_right{padding-left:40px}
.pl-top-comments .pl-thread-pl{padding:10px}
.pl-thread-userBar{height:20px;line-height:1.8em;padding:20px 0;font-size:14px}
.pl-thread-fengxiang{float:left;width:300px}
.pl-thread-fengxiang span{float:left}
.pl-thread-denglu{float:right;color:#000}
.pl-thread-denglu a{color:#000;text-decoration:none;cursor:pointer}
.pl-thread-denglu a:hover{text-decoration:underline}
.pl-thread-xie{padding-bottom:10px}
.pl-thread-xie_left{float:left}
.pl-thread-xie_left img{width:50px;height:50px;display:block;box-shadow:0 1px 3px rgba(0,0,0,0.22);-webkit-border-radius:10px;border-radius:10px}
.pl-thread-xie_right{padding-left:60px}
.pl-thread-txtBox{height:60px;padding:10px;position:relative;border:1px solid #ccc;border-bottom:none;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;border-top-left-radius:3px;border-top-right-radius:3px;background:url(../image/pl-thread-bg.png) 0 -90px repeat-x #fff}
.pl-thread-txtBox textarea{width:100%;height:60px;margin:0;padding:0;line-height:1.8em;font-size:13px;display:block;border:none;overflow-y:hidden;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;background:none}
.pl-thread-xie_right_foot{position:relative}
.pl-thread-biaoqing{margin-right:100px;height:30px;border:1px solid #ccc;border-right:none;border-bottom-color:#aaa;border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;background:url(../image/pl-thread-bg.png) 0 -60px repeat-x}
.pl-thread-biaoqing .bq_btn{width:17px;height:17px;display:block;position:absolute;left:10px;top:7px;cursor:pointer;background:url(https://admin.shengshi8800.com/assets/images/pl-thread-biaoqing.png) 0 0 no-repeat}
.pl-thread-biaoqing .bq_btn:hover{background:url(https://admin.shengshi8800.com/assets/images/pl-thread-biaoqing.png) 0 -18px no-repeat}
.pl-thread-bq_box{width:390px;height:140px;padding:10px 5px;overflow-y:auto;-webkit-border-radius:3px;border-radius:3px;position:absolute;top:35px;left:0;z-index:2;border:1px solid #aaa;box-shadow:0 0 2px rgba(0,0,0,0.2);background-color:#fff}
.pl-thread-bq_box ul{margin:0;padding:0}
.pl-thread-bq_box ul li{float:left;width:26px;height:26px;margin:0;padding:0;list-style:none;text-align:center}
.pl-thread-bq_box ul li img{cursor:pointer}
@media screen and (max-width:500px){.pl-thread-bq_box{width:87%;height:200px;position:fixed;left:5%;top:50%;margin-top:-155px}
.pl-thread-bq_box ul li{}
.pl-thread-bq_box ul li img{}
}.pl-thread-fabu2{float:right;position:relative;z-index:1;width:100px;height:30px;line-height:30px;color:#555px;font-size:14px;font-weight:bold;text-align:center;color:#555;text-shadow:0 1px 0 #fff;cursor:pointer;border:1px solid #ccc;border-bottom-color:#aaa;border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;background:url(../image/pl-thread-bg.png) 0 -60px repeat-x}
.pl-thread-fabu2:hover{background-position:0 -30px;color:#333}
.pl-thread-pl_tit{line-height:32px;font-size:14px}
.pl-thread-pl_tit_left{width:50%;float:left;color:#555}
.pl-thread-pl_tit_right{float:right;color:#999}
.pl-thread-pl_tit_right .hover{color:#d32}
.pl-thread-pl_tit_right a{color:#999;text-decoration:none}
.pl-thread-pl_tit_right a:hover{text-decoration:underline}
.pl-thread-page{padding:10px 0;text-align:right;font-size:14px;border-top:solid 1px #dedede;border-bottom:solid 1px #dedede}
.pl-thread-page span,.pl-thread-page a{height:18px;line-height:18px;margin-left:10px;padding:0 5px;color:#777;-webkit-border-radius:3px;border-radius:3px;display:inline-block}
.pl-thread-page span{color:#d32;border:solid 1px #ccc;background:#f8f8f8}
.pl-thread-page a{border:solid 1px #fff;text-decoration:none}
.pl-thread-page span:hover{color:#d32;border:solid 1px #ccc;text-decoration:none;background:#f8f8f8}
.pl-thread-page a:hover{border:solid 1px #fff;text-decoration:none;background:#f8f8f8}
.pl-thread-huifu{max-width:640px;margin-bottom:10px;font-size:14px;border-left:solid 3px #e6e6e6;background:#f8f8f8}
.pl-thread-hf{padding:10px;border-bottom:1px solid #e6e6e6}
.pl-thread-hf.more{color:#777}
.pl-thread-hf.more a{color:#777;text-decoration:none}
.pl-thread-hf.more a:hover{text-decoration:underline}
.pl-thread-hf_left{float:left}
.pl-thread-hf_left img{width:30px;height:30px;display:block;box-shadow:0 1px 3px rgba(0,0,0,0.22);-webkit-border-radius:3px;border-radius:3px}
.pl-thread-hf_right{padding-left:40px}
.pl-thread-hf_right_tit{color:#d32;padding-bottom:5px}
.pl-thread-hf_right_tit a{color:#d32;text-decoration:none}
.pl-thread-hf_right_tit a:hover{text-decoration:underline}
.pl-thread-hf_right_tit .lou{float:right;color:#999}
.pl-thread-hf_right_con{line-height:1.8em;position:relative}
.pl-thread-hf_right_con_menu{position:absolute;bottom:0;right:0;text-align:right;color:#999;font-size:14px}
.pl-thread-hf_right_con_menu img{vertical-align:middle;_vertical-align:baseline;border:0}
.pl-thread-hf_right_con_menu a{color:#999;text-decoration:none}
.pl-thread-hf_right_con_menu a:hover{text-decoration:underline}
.pl-thread-popbox,.pl-thread-popbox2{box-shadow:0 0 5px rgba(0,0,0,0.5);-webkit-border-radius:3px;border-radius:3px;border:solid 1px #aaa;background:url(../image/pl-thread-bg.png) 0 -90px repeat-x #fff;position:fixed;top:50%;left:50%;margin-left:-200px;z-index:999}
.pl-thread-popbox{width:400px;height:260px;margin-top:-185px}
.pl-thread-popbox2{width:400px;height:310px;margin-top:-185px}
@media screen and (max-width:500px){.pl-thread-popbox{width:87%;margin-left:-45%}
.pl-thread-popbox2{width:87%;margin-left:-45%}
}.pl-thread-popbox-tit{height:40px;line-height:40px;border-bottom:dotted 1px #ccc}
.pl-thread-popbox-tit h3{margin:0;padding:0 0 0 10px;font-size:16px;font-weight:bold;padding-top: 10px;}
.pl-thread-popbox-tit span{float:right;width:40px;height:40px;display:block;cursor:pointer;background:url(../image/pl-thread-close.gif) center center no-repeat}
.pl-thread-popbox-table{margin-top:20px}
.pl-thread-popbox-table td{height:45px}
.pl-thread-popbox-img{width:70px;height:31px;margin-left:8px;cursor:pointer;border:0;vertical-align:middle;_vertical-align:baseline}
.pl-thread-popbox-td1{width:30%;padding-right:10px;text-align:right}
.pl-thread-popbox-td2{}
.pl-thread-popbox-inputTxt,.pl-thread-popbox-inputTxt2{padding:5px;height:30px;border:solid 1px #ccc;-webkit-border-radius:3px;border-radius:3px;background:url(../image/pl-thread-bg.png) 0 -90px repeat-x #fff}
.pl-thread-popbox-inputTxt{width:180px}
.pl-thread-popbox-inputTxt2{float:left;width:102px}
.pl-thread-popbox-inputBtn{width:80px;height:30px;display:inline-block;margin-right:10px;line-height:30px;color:#555px;font-size:14px;font-weight:bold;text-align:center;color:#555;text-decoration:none;text-shadow:0 1px 0 #fff;cursor:pointer;border:1px solid #ccc;border-bottom-color:#aaa;-webkit-border-radius:3px;border-radius:3px;background:url(../image/pl-thread-bg.png) 0 -60px repeat-x}
.pl-thread-popbox-inputBtn:hover{text-decoration:none;background-position:0 -30px;color:#333}
.pl-thread-person-tit{padding:10px 0;text-align:center}
.pl-thread-person{height:200px;overflow:auto}
.pl-thread-person ul{*zoom:1}
.pl-thread-person ul:after{content:".";display:block;height:0;clear:both;overflow:hidden;visibility:hidden}
.pl-thread-person ul{}
.pl-thread-person ul li{float:left;padding:1px}
.pl-thread-person-foot{padding-top:10px;text-align:center}
.lgyPl_v2_record_delete{color:#999;cursor:pointer;display:none}
.lgyPl_v2_record_list_hot{border:solid 1px #ccc;border-top:none}
.lgyPl_v2_record_list_hot .lgyPl_v2_record_item{padding:10px}
.lgyPl_v2_post_inner .lgyPl_v2_post_form{width:87%}
.lgyPl_v2_post_inner .lgyPl_v2_post_tools{width:87%}
.pl-quicknext {text-align: right;margin: 0 0 20px;}
.el-pagination{white-space:nowrap;padding:2px 5px;color:#303133;font-weight:700}
.el-pagination::after,.el-pagination::before{display:table;content:""}
.el-pagination::after{clear:both}
.el-pagination button,.el-pagination span:not([class*=suffix]){display:inline-block;font-size:13px;min-width:35.5px;height:28px;line-height:28px;vertical-align:top;-webkit-box-sizing:border-box;box-sizing:border-box}
.el-pagination .el-input__inner{text-align:center;-moz-appearance:textfield;line-height:normal}
.el-pagination .el-input__suffix{right:0;-webkit-transform:scale(.8);transform:scale(.8)}
.el-pagination .el-select .el-input{width:100px;margin:0 5px}
.el-pagination .el-select .el-input .el-input__inner{padding-right:25px;border-radius:3px}
.el-pagination button{border:none;padding:0 6px;background:0 0}
.el-pagination button:focus{outline:0}
.el-pagination button:hover{color:#409EFF}
.el-pagination button:disabled{color:#C0C4CC;background-color:#FFF;cursor:not-allowed}
.el-pagination .btn-next,.el-pagination .btn-prev{background:center center no-repeat #FFF;background-size:16px;cursor:pointer;margin:0;color:#303133}
.el-pagination .btn-next .el-icon,.el-pagination .btn-prev .el-icon{display:block;font-size:12px;font-weight:700}
.el-pagination .btn-prev{padding-right:12px}
.el-pagination .btn-next{padding-left:12px}
.el-pagination .el-pager li.disabled{color:#C0C4CC;cursor:not-allowed}
.el-pager li,.el-pager li.btn-quicknext:hover,.el-pager li.btn-quickprev:hover{cursor:pointer}
.el-pagination--small .btn-next,.el-pagination--small .btn-prev,.el-pagination--small .el-pager li,.el-pagination--small .el-pager li.btn-quicknext,.el-pagination--small .el-pager li.btn-quickprev,.el-pagination--small .el-pager li:last-child{border-color:transparent;font-size:12px;line-height:22px;height:22px;min-width:22px}
.el-pagination--small .more::before,.el-pagination--small li.more::before{line-height:24px}
.el-pagination--small button,.el-pagination--small span:not([class*=suffix]){height:22px;line-height:22px}
.el-pagination--small .el-pagination__editor,.el-pagination--small .el-pagination__editor.el-input .el-input__inner{height:22px}
.el-pagination__sizes{margin:0 10px 0 0;font-weight:400;color:#606266}
.el-pagination__sizes .el-input .el-input__inner{font-size:13px;padding-left:8px}
.el-pagination__sizes .el-input .el-input__inner:hover{border-color:#409EFF}
.el-pagination__total{margin-right:10px;font-weight:400;color:#606266}
.el-pagination__jump{margin-left:24px;font-weight:400;color:#606266}
.el-pagination__jump .el-input__inner{padding:0 3px}
.el-pagination__rightwrapper{float:right}
.el-pagination__editor{line-height:18px;padding:0 2px;height:28px;text-align:center;margin:0 2px;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:3px}
.el-pager,.el-pagination.is-background .btn-next,.el-pagination.is-background .btn-prev{padding:0}
.el-pagination__editor.el-input{width:50px}
.el-pagination__editor.el-input .el-input__inner{height:28px}
.el-pagination__editor .el-input__inner::-webkit-inner-spin-button,.el-pagination__editor .el-input__inner::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
.el-pagination.is-background .btn-next,.el-pagination.is-background .btn-prev,.el-pagination.is-background .el-pager li{margin:0 5px;background-color:#f4f4f5;color:#606266;min-width:30px;border-radius:2px}
.el-pagination.is-background .btn-next.disabled,.el-pagination.is-background .btn-next:disabled,.el-pagination.is-background .btn-prev.disabled,.el-pagination.is-background .btn-prev:disabled,.el-pagination.is-background .el-pager li.disabled{color:#C0C4CC}
.el-pagination.is-background .el-pager li:not(.disabled):hover{color:#409EFF}
.el-pagination.is-background .el-pager li:not(.disabled).active{background-color:#409EFF;color:#FFF}
.el-dialog,.el-pager li{background:#FFF;-webkit-box-sizing:border-box}
.el-pagination.is-background.el-pagination--small .btn-next,.el-pagination.is-background.el-pagination--small .btn-prev,.el-pagination.is-background.el-pagination--small .el-pager li{margin:0 3px;min-width:22px}
.el-pager,.el-pager li{vertical-align:top;margin:0;display:inline-block}
.el-pager{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;list-style:none;font-size:0}
.el-date-table,.el-table th.el-table__cell{-webkit-user-select:none;-moz-user-select:none}
.el-pager .more::before{line-height:30px}
.el-pager li{padding:0 4px;font-size:13px;min-width:35.5px;height:28px;line-height:28px;box-sizing:border-box;text-align:center}
.el-menu--collapse .el-menu .el-submenu,.el-menu--popup{min-width:200px}
.el-pager li.btn-quicknext,.el-pager li.btn-quickprev{line-height:28px;color:#303133}
.el-pager li.btn-quicknext.disabled,.el-pager li.btn-quickprev.disabled{color:#C0C4CC}
.el-pager li.active+li{border-left:0}
.el-pager li:hover{color:#409EFF}
.el-pager li.active{color:#409EFF;cursor:default}