
.header.index-header {
    height: 98px;
    border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header {
    position: fixed;
    z-index: 99;
    width: 100%;
    max-width: 720px;
    background-image: linear-gradient(to right, #008074, #00807a, #007d99, #007e80, #008599, #005680, #008074);
}

.header .logo-box {
    height: 50px;
}
.header .logo {
    float: left;
    height: 50px;
    margin-left: 0px;
}
.header .logo .logo-img {
    width: 208px;
    height: 50px;
}
.header .bank {
    float: right;
    position: relative;
    width: 80px;
    height: 50px;
}
.header .bank img {
    display: block;
    width: 75px;
    height: 50px;
    margin: 0 auto;
}
.header .bank a {
    display: block;
    color: #fff;
    font-size: 12pt;
    text-align: center;
    padding-top: 14px;
}
.nav {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    border-top: 1px solid #000;
}
.box{
	margin:5px 0;
	border-radius: 5px;
	overflow: hidden;
	background-image: linear-gradient(to right, #008074, #00807a, #007d99, #007e80, #008599, #005680, #008074);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, endcolorstr=#99000000);
}
.nullbox {
    height: 100px;
}
.dbt img{
	margin-top: 98px;
	margin-bottom: -8px;
}

/*content*/
.subnav{
	border-radius:5px;
	padding:5px 0;
	background: #d4f2f9;
	overflow: hidden;
}
.subnav a{
	display: block;
	float: left;
	width: 20%;
	text-align: center;
	font-size: 12pt;
	color: #000;
	font-weight: bold;
	text-shadow: 0px 2px 1px #ff9c00;
}
.subnav a img{
	display: block;
	width: 80px;
	height:80px;
	margin:0 auto 2px;
	animation-duration:1s;
	animation-fill-mode:both;
}
.subnav a:nth-child(1) img,.subnav a:nth-child(2) img{
	animation-name:fadeInLeft;
}
.subnav a:nth-child(3) img{
	animation-name:bounceInDown;
}
.subnav a:nth-child(4) img,.subnav a:nth-child(5) img{
	animation-name:fadeInRight;
}
.ggimg{
	margin:5px 0;
}
.ggimg a img{
	width: 60px;
	height: 60px;
}
@keyframes fadeInLeft{0%{opacity:0;transform:translate3d(-100%,0,0)}to{opacity:1;transform:none}}
@keyframes fadeInRight{0%{opacity:0;transform:translate3d(100%,0,0)}to{opacity:1;transform:none}}
@keyframes bounceInDown{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(0,-3000px,0)}60%{opacity:1;transform:translate3d(0,25px,0)}75%{transform:translate3d(0,-10px,0)}90%{transform:translate3d(0,5px,0)}to{transform:none}}
.subnav a:hover{
	animation-name:pulse;
	animation-duration:1s;
	animation-fill-mode:both;
}
@keyframes pulse{0%{transform:scaleX(1)}50%{transform:scale3d(1.05,1.05,1.05)}to{transform:scaleX(1)}}
.pad{
	padding:4px 4px;
}
.padt{
	padding:4px 4px 1px 4px;
}
.xjbox{
	margin: 5px 0;
    border-radius: 5px;
    overflow: hidden;
    background: #000;
}

.gg{
	color: #000;
	table-layout: fixed;
}
.gg tr{
	height: 25px;
}
.gg th,.gg td{
	padding:4px 6px;
}
.gg th{
	font-size: 20pt;
	text-align: center; 
	border-bottom:1px solid #000;
	text-shadow: 1px 4px 1px #b99b5f;
}
.gg td{
	height: 42px;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid #a9cccb;
	font-size: 18pt
}
.gg td a{
	display: block;
	color: #000;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
}

.qxtable{
	color: #000;
    background: #fff;
    font-weight: bold;
    word-wrap: break-word; 
    word-break: break-all;	
    text-align: center;;
}
.qxtable tr {
     height: 30px; 
}
.qxtable th, .qxtable td {
    border:1px solid #fff;
}
.qxtable th{
	font-size: 18px;
	background: #fff89c;
	text-align: center;
	color: red;
}
.qxtable td {
    text-overflow: ellipsis;    
    font-size: 26px;
}
.qxtable .xz {   
    font-size: 34px;
}
.qxtable .xz1 {   
    font-size: 20px;
}
.qxtable .xz2 {   
    font-size: 30px;
}
.qxtable .xz3 {   
    font-size: 38px;
}
.qxtable.left{
	text-align: left;
}
.qxtable.left th{
	text-align: left;
}
.qxtable.yxym{
	table-layout:auto;
	word-wrap: break-word;
    word-break: break-all;
/*    background:#fff url(../images/tjl.png) center center no-repeat;
*/}
.qxtable.yxym td{
	font-size: 18pt;
}
.qxtable.yxym tr td:nth-child(1){
	background: #d4eae9;
	width: 26%;
}
.qxtable.yxym tr td:nth-child(3){
	background: #d4eae9;
	width: 18%;
}
.qxtable.yxym tr td:nth-child(2){
	background: #f7f7f7;
	width: 56%;
	font-size: 28px;
}
.qxtable .jx {   
    font-size: 22px;
}
.list-title{
	height: 28px;
	line-height: 23px;
	font-size: 16pt;
    text-align: center;
    border-bottom: 1px solid #738e9f;
    text-shadow: 1px 4px 1px #b99b5f;
    background: #fff;
    color: #000;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.riqi{
	font-size: 19pt;
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}
.haoju{
	font-size: 20pt;
    text-align: center;
    font-weight: bold;
    padding: 3px 0px;
}
#yxym .list-title{
	background: linear-gradient(transparent,#f7f3f3);
	font-size: 26px;
	color: #000;
	text-shadow: 0px 0px 10px #e5e5e5;

}

ul {margin: 1px;}
.post-list{text-align:center;}
.post-list-tit-pic{margin-bottom:6px}
.post-list li{padding: 3px 3px;
    border-radius: 0px;
    background-color: #fff;}

.post-list a{
height: 36px;
line-height: 36px;
text-align: center;
border: solid 1px #ddd;
border-radius: 8px;
background: #eee;
background-image: linear-gradient(to top, #fff, #eee, #fff);
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
display: block;
font-size: 22px;
font-weight: bold;
color: #000;
}
.post-list a .ci{
font-size: 26px;
}

.guanggao{
	table-layout: auto;
	color: #fff;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	background: #167385;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99ffffff, endcolorstr=#99ffffff);
}
.guanggao tr{
	height: 33px;
}
.guanggao img{
	width: 100%;
	height: 45px;
}
.guanggao a{
	font-size: 16pt;
	color: #FF0000;
}
.guanggao td{
	font-weight: bold;
	border:0px; solid:#636262;
	width: 100%;
	text-align: left;
    white-space: nowrap;
}

.gongshi{
	color: #000;
	table-layout: fixed;
}
.gongshi tr{
	height: 25px;
}
.gongshi th,.gongshi td{
	padding:5px 2px;
}
.gongshi th{
	font-size: 20pt;
	text-align: center; 
	border-bottom:1px solid #000;
	text-shadow: 1px 4px 1px #b99b5f;
}
.gongshi td{
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid #efe8e8;
	font-size: 18pt;
	text-align:center;
}
.gongshi td a{
	display: block;
	color: #0000FF;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
}
.duilianpt{
	table-layout: auto;
	color: #FF0000;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	background: #fff;
}
.duilianpt tr{
	height: 30px;
}
.duilianpt td{
	font-weight: bold;
	border:1px solid #C0C0C0;
	font-size: 18pt;
}
.duilianpt th{
	font-weight: bold;
	border:1px solid #C0C0C0;
	font-size: 18pt;
}
.duilianpt .zl{
	font-size: 20pt;
}

.duilianpt1{
	table-layout: auto;
	color: #FF0000;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	background: #fff;
}
.duilianpt1 tr{
	height: 30px;
}
.duilianpt1 td{
	font-weight: bold;
	border:1px solid #C0C0C0;
	font-size: 18pt;
}
.duilianpt1 .zl{
	font-size: 22pt;
}
.duilianpt1 th{
	font-weight: bold;
	border:1px solid #C0C0C0;
	font-size: 17pt;
}
.pnzl{
	table-layout: auto;
	color: #000;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	background: #f5f5f5;
}
.pnzl tr{
	height: 32px;
}
.pnzl td{
	font-weight: bold;
	border:1px solid #fff;
	width: 33.3%;
	font-size: 12pt;
}
.pnzl a{
	color: #000;
}

.copyright{
	width: 80%;
	margin:0 auto;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom:5px;
	border-bottom:1px solid #000;
	color: #000;
}
.xjct{
	background-image: linear-gradient(to right, #008074, #00807a, #007d99, #007e80, #008599, #005680, #008074);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99bdb657, endcolorstr=#99bdb657);
}

@media screen and (max-width: 610px){
.riqi{
	font-size: 15pt;
}
.haoju {
    font-size: 18pt;
}
.pad {
    padding: 2px 2px;
}
.padt{
	padding:2px 2px 0.1px 2px;
}
	#yxym .list-title{
	font-size: 20px;
}
.duilianpt td{
	font-size: 15pt;
}
.duilianpt .zl{
	font-size: 17pt;
}
.duilianpt th{
	font-size: 14pt;
}
.duilianpt1 td{
	font-size: 16pt;
}
.duilianpt1 .zl{
	font-size: 19pt;
}
.duilianpt1 th{
	font-size: 14pt;
	}
.qxtable td {
    font-size: 20px;
}
.qxtable .xz {   
    font-size: 26px;
}
.qxtable .xz1 {   
    font-size: 18px;
}
.qxtable .xz2 {   
    font-size: 24px;
}
.qxtable .xz3 {   
    font-size: 30px;
}
.listtable td{
		font-size: 13pt;
}
.qxtable.yxym td {
    font-size: 12pt;
}
.post-list a{font-size:21px
}
.gg td{
	font-size: 16pt
}
}
@media screen and (max-width: 505px){
.pad {
    padding: 2px 2px;
}
	#yxym .list-title{
	font-size: 18px;
}
.riqi{
	font-size: 12pt;
}
.haoju{
	font-size: 15pt;
}
.box,.subnav,.xjbox{
		margin:3px 0px ;
	}
.subnav a{
		font-size: 11pt;
	}
.subnav a img{
		width: 60.8px;
		height: 60.8px;
	}
.ggimg a img{
		width: 40px;
		height: 40px;
	}

.qxtable.yxym td{
		font-size: 18px;
	}
.qxtable.yxym tr td:nth-child(2){
		font-size: 24px;
	}
.qxtable .jx {   
    font-size: 19px;
}
.guanggao img{
	width: 100%;
	height: 33px;
	}
.guanggao a{
	font-size: 12pt;
	}
.gongshi td{
	font-size: 16pt;
	}
.duilianpt td{
	font-size: 14pt;
}
.duilianpt .zl{
	font-size: 16pt;
}
.duilianpt th{
	font-size: 13pt;
	}
.duilianpt1 td{
	font-size: 16pt;
}
.duilianpt1 .zl{
	font-size: 18pt;
}
.duilianpt1 th{
	font-size: 13pt;
	}
.pnzl td{
	font-size: 13pt;
}
.qxtable td {
    font-size: 18px;
}
.qxtable .xz {   
    font-size: 26px;
}
.qxtable .xz1 {   
    font-size: 16px;
}
.qxtable .xz2 {   
    font-size: 20px;
}
.qxtable .xz3 {   
    font-size: 30px;
}
.post-list a{font-size:19px
}
.post-list a .ci{font-size: 24px;
}
.gg td{
	font-size: 15pt
}
.gg td a{
	text-align: left;
}
}
@media screen and (max-width: 429px){
.haoju{
	font-size: 14pt;
}
.qxtable td {
    font-size: 17px;
}
.qxtable .xz1 {   
    font-size: 15px;
}
.qxtable .xz2 {
    font-size: 19px;
}
.qxtable .xz3 {   
    font-size: 28px;
}
.qxtable .xz {
    font-size: 24px;
}
.duilianpt td {
    font-size: 13pt;
}
.duilianpt .zl {
    font-size: 15pt;
}
.duilianpt1 td {
    font-size: 15pt;
}
.duilianpt1 .zl {
    font-size: 17pt;
}
.post-list a {
    font-size: 18px;
}
.post-list a .ci {
    font-size: 23px;
}
.qxtable.yxym tr td:nth-child(2) {
    font-size: 23px;
}
}
@media screen and (max-width: 409px){
.riqi{
	font-size: 11pt;
}
.haoju{
	font-size: 13pt;
}
.qxtable td {
    font-size: 16px;
}
.qxtable .xz {   
    font-size: 22px;
}
.qxtable .xz1 {   
    font-size: 14px;
}
.qxtable .xz2 {   
    font-size: 18px;
}
.qxtable .xz3 {   
    font-size: 26px;
}
.qxtable.yxym td {
    font-size: 16px;
}
.qxtable.yxym tr td:nth-child(2){
		font-size: 21px;
	}
.qxtable .jx {   
    font-size: 17px;
}
#yxym .list-title{
	font-size: 17px;
}
.duilianpt td {
    font-size: 13pt;
}
.duilianpt .zl{
	font-size: 14pt;
}
.duilianpt th{
	font-size: 11pt;
}
.duilianpt1 td{
	font-size: 14pt;
}
.duilianpt1 .zl{
	font-size: 16pt;
}
.duilianpt1 th{
	font-size: 12pt;
	}
.pnzl td {
    font-size: 12pt;
}
.gongshi td{
	font-size: 14pt;
	}
.post-list a{font-size:16px
}
.post-list a .ci{font-size: 22px;
}
.gg td{
	font-size: 14pt
}
}
@media screen and (max-width: 374px){
.riqi {
    font-size: 10pt;
}
.haoju {
    font-size: 12pt;
}
.qxtable td {
    font-size: 15px;
}
.qxtable .xz1 {   
    font-size: 12px;
}
.qxtable .xz2 {
    font-size: 16px;
}
.qxtable .xz3 {   
    font-size: 22px;
}
.qxtable .xz {
    font-size: 18px;
}
.duilianpt td {
    font-size: 11pt;
}
.duilianpt .zl{
	font-size: 13pt;
}
.duilianpt th {
    font-size: 10pt;
}
.duilianpt1 td{
	font-size: 11pt;
}
.duilianpt1 .zl{
	font-size: 15pt;
}
.duilianpt1 th{
	font-size: 10pt;
	}
.post-list a{font-size:15px
}
.post-list a .ci{font-size: 19px;
}
#yxym .list-title {
    font-size: 15px;
}
.qxtable.yxym tr td:nth-child(2){
		font-size: 19px;
	}
.qxtable .jx {   
    font-size: 15px;
}
.pnzl td {
    font-size: 11pt;
}
.gg td{
	font-size: 13pt
}
}

.blgg a{text-decoration: none;}
.blgg a:hover{text-decoration:underline;}

.blgg {
    table-layout: auto;
    color: #000;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    
}
.blgg td {
    font-weight: bold;
    border: 1px solid #fefefe;
    font-size: 18pt;
    padding: 2px 2px;
    white-space: nowrap;
}

.blgg a {
    line-height: 35px;
    text-align: center;
    border: solid 1px #ddd;
    border-radius: 8px;
    background: #eee;
    background-image: linear-gradient(to top, #fff, #eee, #fff);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: block;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding-left: 0px;
}


@media screen and (max-width: 580px){
.blgg td{
  font-size: 15pt;
  }
}
@media screen and (max-width: 480px){
.blgg td{
  font-size: 14pt;
  }
}
@media screen and (max-width: 408px){
.blgg td {
    font-size: 13pt;
}
.blgg a {
    line-height: 30px;
}
}
@media screen and (max-width: 358px){
.blgg td {
    font-size: 12pt;
}
}